@tailwind base;
@tailwind components;
@tailwind utilities;

.p-7 {
  padding: 1.75rem;
}
.nav_fix{
  padding: 0rem !important;
  margin-top: 50px !important;
}
.max-w-7xl {
  max-width: 107rem !important;
}
a{
  text-decoration: none !important;
}
@media (min-width: 640px){
.sm\:items-stretch {
    display: contents !important;
    align-items: center;
    justify-content: center;
}
}
.h-screen {
  height: 92vh !important;
}